@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--veryDarkDesaturatedBlue1);
}

:root {
  /* Theme 1 */

  /* Backgrounds */
  --veryDarkDesaturatedBlue1: hsl(222, 26%, 31%); /* (main background) */
  --veryDarkDesaturatedBlue2: hsl(
    223,
    31%,
    20%
  ); /*(toggle background, keypad background) */
  --veryDarkDesaturatedBlue3: hsl(224, 36%, 15%); /*(screen background) */

  /* Keys */
  --desaturatedDarkBlue1: hsl(225, 21%, 49%); /*(key background)*/
  --desaturatedDarkBlue2: hsl(224, 28%, 35%); /*(key shadow)*/

  --red: hsl(6, 63%, 50%); /*(key background, toggle)*/
  --darkRed: hsl(6, 70%, 34%); /*(key shadow)*/

  --lightGrayishOrange: hsl(30, 25%, 89%); /*(key background)*/
  --grayishOrange: hsl(28, 16%, 65%); /*(key shadow) */

  /* Text */
  --veryDarkGrayishBlue: hsl(221, 14%, 31%);
  --white: #fff;

  /* Theme 2 */

  /* Backgrounds */
  --lightGray: hsl(0, 0%, 90%); /*(main background)*/
  --grayishRed: hsl(0, 5%, 81%); /*(toggle background, keypad background)*/
  --veryLightGray: hsl(0, 0%, 93%); /*(screen background)*/

  /* Keys */
  --darkModerateCyan: hsl(185, 42%, 37%); /*(key background)*/
  --veryDarkCyan: hsl(185, 58%, 25%); /*(key shadow)*/

  --orange: hsl(25, 98%, 40%); /*(key background, toggle)*/
  --darkOrange: hsl(25, 99%, 27%); /*(key shadow)*/

  --lightGrayishYellow: hsl(45, 7%, 89%); /*(key background)*/
  --darkGrayishOrange: hsl(35, 11%, 61%); /*(key shadow)*/

  /* Text */
  --veryDarkGrayishYellow: hsl(60, 10%, 19%);

  /* Theme 3 */

  /* Backgrounds */
  --veryDarkViolet1: hsl(268, 75%, 9%); /*(main background)*/
  --veryDarkViolet2: hsl(
    268,
    71%,
    12%
  ); /*(toggle background, keypad background, screen background)*/

  /* Keys */
  --darkViolet: hsl(281, 89%, 26%); /*(key background)*/
  --vividMagenta: hsl(285, 91%, 52%); /*(key shadow)*/

  --pureCyan: hsl(176, 100%, 44%); /*(key background, toggle)*/
  --softCyan: hsl(177, 92%, 70%); /*(key shadow)*/

  --veryDarkViolet: hsl(268, 47%, 21%); /*(key background)*/
  --darkMagenta: hsl(290, 70%, 36%); /*(key shadow)*/

  /* Text */

  --lightYellow: hsl(52, 100%, 62%);
  --veryDarkBlue: hsl(198, 20%, 13%);
}

.calcBody {
  display: block;
  width: 90%;
  max-width: 500px;
  background-color: var(--veryDarkDesaturatedBlue1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-container {
  display: block;
  width: 85%;
  margin: auto;
  padding: 0em 0.5em;
  color: var(--white);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: block;
  width: 33%;
  font-size: 3.5rem;
  letter-spacing: 2px;
  padding-bottom: 0.5em;
}
.header2 {
  display: block;
  width: 40%;
  padding-top: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}

.toggle {
  display: block;
  width: auto;
  text-align: end;
}

.number-toggle {
  margin-left: 7px;
  letter-spacing: 6px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 55px;
  height: 20px;
  background: var(--veryDarkDesaturatedBlue2);
  border-radius: 100px;
  padding: 0em 0.25em;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: var(--red);
  border: 1px solid var(--red); 
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: var(--red);
  border: 1px solid var(--red);  
  cursor: pointer;
}

/* Display Section */

.section1-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  min-height: 85px;
  margin: auto;
  padding: 2em 2.5em;
  border-radius: 10px;
  overflow-x: hidden;
  background-color: var(--veryDarkDesaturatedBlue3);
  color: var(--white);
}

.display {
  display: block;
  font-size: 3.6rem;
}

/* Keypad Section */

.section2-container {
  display: block;
  width: 85%;
  margin: 2.5em auto;
  padding: 1.5em;
  border-radius: 10px;
  background-color: var(--veryDarkDesaturatedBlue2);
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  gap: 10px;
}

.griditem {
  background-color: var(--lightGrayishOrange);
  box-shadow: 0px 3px var(--grayishOrange);
  border-radius: 10px;
  padding: 17px 3px 10px 3px;
  font-size: 3rem;
  text-align: center;
  color: var(--veryDarkGrayishBlue);
  cursor: pointer;
}

/* Special Keys */

.delKey {
  background-color: var(--desaturatedDarkBlue1);
  box-shadow: 0px 3px var(--desaturatedDarkBlue2);
  color: var(--white);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.resetKey {
  background-color: var(--desaturatedDarkBlue1);
  box-shadow: 0px 3px var(--desaturatedDarkBlue2);
  color: var(--white);
  font-size: 2.5rem;
  text-transform: uppercase;
  grid-column: 1 / span 2;
}

.equalKey {
  background-color: var(--red);
  box-shadow: 0px 3px var(--darkRed);
  color: var(--white);
  grid-column: 3 / span 2;
}

.multiply {
  color: transparent;
}

.multiply:before,
.multiply:after {
  position: absolute;
  left: 76.5%;
  top: 75.5%;
  content: ' ';
  height: 18px;
  width: 3px;
  background-color: var(--veryDarkGrayishBlue);
}
.multiply:before {
  transform: rotate(45deg);
}
.multiply:after {
  transform: rotate(-45deg);
}

/* Footer */

.footer {
  display: block;
  margin-top: 1.5em;
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.me {
  font-family: 'Water Brush', cursive;
  font-size: 2rem;
  color: var(--darkRed);
}
